* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f2f9ff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: #0a3d62;
    position: sticky;
    top: 0;
}

.navbar .logo {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin-left: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

/* Hero */
.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e") center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.hero-content {
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
}

.hero button {
    margin-top: 20px;
    padding: 12px 25px;
    background: #00b894;
    border: none;
    color: white;
    border-radius: 6px;
}

/* Sections */
section {
    padding: 60px 10%;
    text-align: center;
}

.about, .contact {
    background: white;
}

/* Cards */
.check, .alerts, .report {
    background: white;
    max-width: 600px;
    margin: 40px auto;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

input, textarea {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    background: #00b894;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    cursor: pointer;
}

/* Alert box */
#alertBox {
    background: #ffeeba;
    padding: 15px;
    margin: 20px auto;
    border-left: 6px solid #f39c12;
    border-radius: 6px;
}

/* Footer */
footer {
    background: #0a3d62;
    color: white;
    padding: 15px;
    text-align: center;
}
