* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f2f9ff;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #0a3d62;
    position: sticky;
    top: 0;
}

.navbar .logo {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

/* HERO */
.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e") center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero-content {
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
}

.hero button {
    margin-top: 20px;
    padding: 12px 25px;
    border: none;
    background: #00b894;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

/* SECTIONS */
section {
    padding: 60px 10%;
    text-align: center;
}

.about, .contact {
    background: white;
}

/* CHECK, ALERTS, REPORT CARDS */
.check, .alerts, .report {
    background: white;
    margin: 40px auto;
    padding: 40px 20px;
    max-width: 600px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.check h2, .alerts h2, .report h2 {
    color: #0a3d62;
    margin-bottom: 15px;
}

/* INPUTS */
.check input,
.report input,
.report textarea {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* BUTTONS */
.check button,
.alerts button,
.report button {
    background: #00b894;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: 0.3s;
}

.check button:hover,
.alerts button:hover,
.report button:hover {
    background: #019875;
}

/* RESULTS & ALERT BOX */
#result {
    margin-top: 15px;
    font-size: 18px;
}

#alertBox {
    background: #ffeeba;
    border-left: 6px solid #f39c12;
    padding: 15px;
    margin: 20px auto;
    border-radius: 5px;
    width: 90%;
    font-weight: 600;
}

/* FOOTER */
footer {
    background: #0a3d62;
    color: white;
    padding: 15px;
    text-align: center;
}
